@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@100..900&family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter", sans-serif;
}

/* Calendar*/
.ant-picker-calendar .ant-picker-panel-container {
  background-color: none;
}

.ant-picker-calendar .ant-picker-content {
  background-color: transparent;
}
